.home-container{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .button-card{
        width: 200px;
        height: 100px;
        margin: 5px
    }
}